.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.github-link {
  background-color: #ac7d88;
  border: 2px solid black;
  box-shadow: 3px 0 10px black;
  border-radius: 5px;
}

.github-link {
  justify-content: space-around;
  display: flex;
  padding: 7px;
}

.github-link a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.header-logo {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: larger;
  font-size: 1.6rem;
}

.header-container {
  background-color: #ac7d88;
  padding: 1%;
}
.fi {
  font-size: 1.3rem;
}

@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap");
